.Main {
  width: 100%;
}

.dark__mode {
  background-color: rgb(29, 29, 29);
  color: white;
}

.dark-mode {
  width: 150px;
  padding: 2px;
  border: 1px solid;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin: 25px auto;
}

.dark-mode p {
  font-weight: 700;
}
