.ToDoContainer {
  border: 1px solid rgb(1, 1, 1);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.hidden-container {
  display: none;
}

.ToDoContainer .todo-text {
  font-weight: 700;
}

.ToDoContainer .check-button {
  padding: 5px 12px;
  font-weight: 700;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.ToDoContainer .remove-button {
  border: 0;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}

.checked {
  color: rgb(29, 155, 29);
}
