<header>
  <h1>LOGO</h1>
  <ul class="nav-bar">
    <a href="./">Home</a>
    <a href="./about">About</a>
  </ul>
  <a href="./login" class="material-symbols-outlined">
    account_circle
  </a>

</header>